@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.form-contato-container {
  font-family: 'Rubik', sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.form-contato-titulo {
  color: #333;
  text-align: center;
}

.form-contato-subtitulo {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Noto Serif", serif;
  font-weight: 500;
}

.form-contato-formulario {
  display: flex;
  flex-direction: column;
}

.form-contato-label {
  margin-top: 10px;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}

.form-contato-input,
.form-contato-textarea,
.form-contato-select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-contato-botao {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Noto Serif", serif;
}

.form-contato-botao:hover {
  background-color: #2d8031;
}
